$primary-color-light: #60d8e8;
$primary-color: #16a6b6;
$primary-color-dark: #007786;
$on-primary: #000000;

$secondary-color-light: #b892ec;
$secondary-color: #8764b9;
$secondary-color-dark: #583989;
$on-secondary: #ffffff;

$error-accent: #b00020;
$on-error: #ffffff;

$alert-accent: #efa00b;
$on-accent: #000000;
